/* Some fonts */
@import url('https://fonts.googleapis.com/css?family=Lilita+One|Cabin');
// @font-face {
//   font-family: 'Lilita One';
//   src: url('https://fonts.googleapis.com/css?family=Lilita+One');
// }

// @font-face {
//   font-family: Cabin;
//   src: url('https://fonts.googleapis.com/css?family=Cabin');
// }

/* Universal reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: Cabin, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* 10px default */
  font-size: 62.5%;

  @include respond(tab-land) {
    /* 9px on landscape tablets */
    font-size: 56.25%;
  }

  // @include respond(tab-port) {
  //   /* 8px on phones & portrait-based tablets */
  //   font-size: 50%;
  // }

  // @include respond(phone) {
  //   /* 8px on phones & portrait-based tablets */
  //   font-size: 50%;
  // }

  @include respond(big-desk) {
    /* 12px on large desktops */
    font-size: 75%;
  }
}
body {
  margin: 0;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* padding: 3rem; */

  // @include respond(tab-port) {
  padding: 0;
  // }
}

:any-link {
  color: #4c9342;
  text-decoration: none;
}
