// COLORS

$color-green-light: #b4d55f;
$color-green-medium: #4c9342;
$color-green-dark: #3f421b;

$color-purple-light: #692f65;
$color-purple-dark: #4e2688;

$color-orange-light: #f9a415;
$color-orange-dark: #f68722;

$color-red: #b42025;

$color-yellow: #ffd744;

$color-white: #fdfdfd;
$color-black: #212121;
