@import '../sass/variables';

.mainContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pageTurners {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
