@import '../../sass/variables';

.mainMenu {
  display: flex;
  list-style-type: none;

  li {
    margin-right: 1rem;
    font-size: 1.8rem;
    font-weight: bold;

    a,
    a:link,
    a:visited {
      text-decoration: none;
      color: $color-purple-dark;
    }
  }
}

.active {
  color: $color-orange-light !important;
}
